body{
background-color: black;
}
.container{background-color: green;
width: 1050px;
height: 900px;
margin: 0 auto;
padding: 50px 50px;
border-radius: 30px;
}
.row{
padding:30px 30px;
}
img{
width: 450px;
height: 300px;
}
h1{
margin: 0 auto;
text-align: center;
color:white;
font-family: Impact, Charcoal, sans-serif;
}
h2{
margin: 0 auto;
text-align: center;
color:black;
}
h4{
margin: 0 auto;
text-align: center;
color:black;
}
.tip{
font-size: 12px;
}
.opciones{
margin: 0 auto;
height: 700px;
width: 900px;
margin-top: 50px;
padding: 20px 20px;
background-color: lightgreen;
color:black;
border-radius: 30px;
font-family:"Comic Sans MS", cursive, sans-serif;
}